@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: env(safe-area-inset);
}

html,
body {
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #262626;
}

.light {
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s;
}
:hover::-webkit-scrollbar-thumb {
  background: #555;
}
