@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: env(safe-area-inset);
}

html,
body {
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #262626;
}

.light {
  background-color: #fafafa;
}
