.continue-button {
  width: 40px;
  height: 40px;
}

.carousel-item-container {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 100%;
  height: 250px;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.active {
  opacity: 1;
  left: 0;
}
